.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

#simple-select-field{
    text-align: start
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-header h5 {
    padding-top: 5px;
}

.profile-field {
    width: 100%;
    margin-top: 10px !important;
    background-color: white;
}

.edit-btn-div {
    padding-top: 5px;
}