.button-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.post-description {
    margin: 0;
    color: black;
}

.post-course {
    margin-top: 0.2rem;
    margin-bottom: 0;
    color: black;
}

.post-text {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: medium;
    text-align: start;
    color: black;
}

.post-name {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: rgb(8, 121, 241);
}

.post-name:hover {
    cursor: pointer;
}

.post-location {
    margin-top: 0.5rem;
    color: black;
}